<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Solicitações</ion-title>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="end" slot="fixed" >
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>
      Cria um novo App bacana
    </ion-card-title>
    <ion-card-subtitle>
      software e aplicativo
    </ion-card-subtitle>
    <ion-card-content>
      Gostaria de cria um app bem bacana feito em ionoc 4/5 e bem estilojo....
    </ion-card-content>
  </ion-card>
 
</ion-content>